template(name="resultItem")
  tr
    td #{longUrl}
    td
      a(href="/#{shortUrl}") #{hostname}#{shortUrl}
    td #{status}
    td #{accessedUrlCount}
    td
      a(href="{{pathFor 'urlEdit'}}")
        input(
          type="button"
          class="btn btn-sm btn-success"
          value="Edit"
          disabled="{{canBeEditted}}"
        )